.header-dark {
    background-color: rgb(8, 4, 44);
    background-size:cover;
    padding-bottom:20px;
  }
  
  @media (min-width:768px) {
    .header-dark {
      padding-bottom:10px;
    }
  }
  
  .header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top:.75rem;
      padding-bottom:.75rem;
    }
  }
  
  .header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header-dark .navbar .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  
  .header-dark .navbar span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-dark .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
 
  
 
  
 
  
  .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header-dark .navbar .action-button:hover {
    background:#269d9d;
  }
  
  .header-dark .navbar .form-inline label {
    color:#ccc;
  }
  
  
  
  
  .header-dark .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero {
      margin-top:20px;
    }
  }
  
  .header-dark .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header-dark .hero .embed-responsive iframe {
    background-color:#666;
  }
  
  #navcol-1 {
    text-align: right;
  }

 
